/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #sidebyside {
    padding: 50px 0;
  }
  #sidebyside .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #sidebyside .content {
    order: 2;
    margin: auto;
    margin-top: 4.6875em;
    max-width: 38.1875em;
  }
  #sidebyside .content h2 {
    font-size: 3em;
    margin-bottom: 0.875em;
  }
  #sidebyside .content p {
    margin-bottom: 1.11111111em;
  }
  #sidebyside .content ul {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }
  #sidebyside .content ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #sidebyside .content ul li img {
    margin-right: 0.625em;
    margin-top: 0.22222222em;
  }
  #sidebyside .content .button-solid {
    margin-top: 1.78571429em;
  }
  #sidebyside .image-box {
    display: block;
    position: relative;
    margin: auto;
    width: 38.1875em;
    height: 53.8125em;
    font-size: min(1.4vw, 1em);
  }
  #sidebyside .image-box:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    opacity: 1;
    top: 2.5em;
    left: -2.5em;
  }
  #sidebyside .image-box:after {
    content: '';
    position: absolute;
    display: block;
    height: 32.25em;
    width: 28.75em;
    background: url("/images/content-circles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -14.125em;
    right: -6.8125em;
    z-index: -1;
  }
  #sidebyside .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .policy-popup {
    POSITION: fixed;
    Z-INDEX: 999;
    TOP: 30%;
    LEFT: 50%;
    transform: translate(-50%, -100%) scale(.1);
    background: black;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: collapse;
    width: 80%;
}
.policy-popup-Open{
  transform: translate(-50%,-50%) scale(1);
  top: 50%;
  visibility: visible;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.policy-popup .button-solid{
  margin-top: 10px;
}.Sign-popUp{
  POSITION: fixed;
  Z-INDEX: 999;
  TOP: 50%;
  LEFT: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: black;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: collapse;
  width: 0%;
  font-family: 'cairo-r';
}
.Sign-popUp-Open{
  visibility: visible;
  width: 80%;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.closespan{
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.Sign-popUp span{
  display: block;
  position: absolute;
  width: 4px;
  background-color: #fff;
  height: 15px;
  transform: rotate(-45deg)
}
.Sign-popUp span:nth-child(2){
  transform: rotate(45deg);

}
.Sign-popUp form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sign-popUp input{
  margin: 10px 0;
  width: 50%;
}
.Sign-popUp input::placeholder{
  text-align: Left;
}
.Sign-popUp .button-solid{
  font-family: 'cairo-b';
  margin-top: 20px;
}

/* Inbetween */
@media only screen and (min-width: 666px) {
  #sidebyside {
    padding: 6.25em 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #sidebyside {
    padding: 9.375em 0;
  }
  #sidebyside .container {
    max-width: 86.9375em;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #sidebyside .content {
    margin: 0;
    width: 60%;
  }
  #sidebyside .image-box {
    margin: 0;
    margin-right: 10.625em;
  }
}
/*-- -------------------------- -->
<---   why Auto Trading     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
 .why{
   /* ff 3.6+ */
   background:-moz-linear-gradient(1deg, rgba(38, 31, 104, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%); 

   /* safari 5.1+,chrome 10+ */
   background:-webkit-linear-gradient(1deg, rgba(38, 31, 104, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

   /* opera 11.10+ */
   background:-o-linear-gradient(1deg, rgba(38, 31, 104, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

   /* ie 6-9 */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#261F68', endColorstr='#261F68', GradientType=1 );

   /* ie 10+ */
   background:-ms-linear-gradient(1deg, rgba(38, 31, 104, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

   /* global 94%+ browsers support */
   background:linear-gradient(1deg, rgba(38, 31, 104, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

}
.card .line{
  height:50%;
}

}
/* Inbetween */
@media only screen and (min-width: 666px) {
 
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {

}
/*-- -------------------------- -->
<---        Contact us          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .allcontant{
  position: relative;
 }
 
  .contactus{
   text-align: left;
   padding-bottom: 50px;
   
 }
 .contactus h2{
  color: #fff;
  font-family: 'cairo-l';
  font-weight: 100;
  padding-bottom: 1em;
  padding-left: 15px;
 }
 .contactus p{
  color: #fff;
  font-family: 'cairo-r';
  padding-left: 15px;
 }
 
}
/*-- -------------------------- -->
<---           form             -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  .left-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
  }
  .left-section .title{
    color: #fff;
    font-family: 'cairo-b';
  }
  .left-section p{
    color: #fff;
    margin-bottom: 30px;
  }
  form{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 #contact{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
 }
 .top-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
 }
  
 input{
  background-color:#928EB3 ;
  font-size: 16px;
  border: var(--primary) 1px solid;
  width: 100%;
  margin: 0;
  padding: 5px;
 }
 input::placeholder{
  font-family: 'cairo-l';
  padding-left: 10px;
 }
 .buttom-form{
  width: 100%;
 }
 textarea{
  background-color: #928EB3;
  height: 30vh;
  width: 100%;
 }
 .form-submit{
  margin: 30px 0;
 }
 .allcontact .button-solid{
  margin-right: 100%;
 }
 .right-section a{
  text-decoration: none;
  color: #fff;
}
 .right-section span{
  color: #fff;
 }

 
 }
 /* Inbetween */
 @media only screen and (min-width: 666px) {
  .allcontact{
    width: 100%;
    position: relative;
  }
  .top-form{
    flex-direction: row;
  }
  .right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
 }
 /* Small Desktop */
 @media only screen and (min-width: 1000px) {
  .left-section{
    width: 80%;
  }
 
 }
  @media only screen and (min-width: 1440px){
   
  }