/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    position: relative;
    
    padding-top: 50px;
    z-index: 1;
    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 37% 51%, rgba(63, 91, 181, 1) 0%, rgba(38, 31, 104, 1) 49%, rgba(29, 18, 96, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 37% 51%, rgba(63, 91, 181, 1) 0%, rgba(38, 31, 104, 1) 49%, rgba(29, 18, 96, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 37% 51%, rgba(63, 91, 181, 1) 0%, rgba(38, 31, 104, 1) 49%, rgba(29, 18, 96, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 37% 51%, rgba(63, 91, 181, 1) 0%, rgba(38, 31, 104, 1) 49%, rgba(29, 18, 96, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 37% 51%, rgba(63, 91, 181, 1) 0%, rgba(38, 31, 104, 1) 49%, rgba(29, 18, 96, 1) 100%);
  }

  #hero picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -11;
  }
  #hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #hero .hero-content {
    width: 95%;
    margin: auto;
    position: relative;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #hero .hero-content {
    padding: 0;
  }
  #hero .heroText {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  #hero h1 {
    font-weight: bold;
    font-size: min(12vw, 50pt);
    color: #fff;
    text-align: center;
    line-height: 1.203125;
    margin: auto;
    width: 100%;
    max-width: 14.125em;
    margin-bottom: 0.4375em;
    position: relative;
    text-align: right;
    padding-right: 15px;
  }
  
  
  
  #hero p {
    line-height: 1.55em;
    margin: auto;
    color: #fff;
    width: 100%;
    text-align: center;
    max-width: 34.27777778em;
    opacity: 1;
    font-size: 18px;
    padding-top: 1em;
    text-align: right;
    font-family: 'cairo-r';
    padding-right: 15px;
  }
  #hero .button-solid {
    margin: auto;
    display: inline-block;
    width: auto;
  }
  .headerText h1{
    font-family: 'cairo-l';
  }
  .heroText .headerText .headerTitle{
    font-family: 'cairo-b';
  }
  #hero .p1{
    font-family: 'cairo-b';
    font-size: 20px;
  }
  .vision{
    position: relative;

    text-align: left;
  
  }
  .vision-content{
    padding-right: 15px;
    text-align: right;
  }
  
  .line{
    display: inline-block;
    background-color: #fff;
    width: 2px;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .small-line{
    display: inline-block;
    background-color: #fff;
    width: 1px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 50px;
    transform: translate(1px,-138px);
  }
  .vision h2{
    color: #fff;
    font-family: 'cairo-l';
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
  }
  .vision h3{
    color: #fff;
    font-family: 'cairo-sb';
    font-size: 20px;
  }
  .Vis-Des{
    font-family: 'cairo-l';
    padding-left: 15px;
  }
  .Headerbuttom{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  .content{
    margin: auto;
    position: relative;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    }
    .picside{
      width: 90%;
    }
    .picside img{
    height: 100%;
    width: 823px;
    transform: translateX(-84px);
    }

    .allcontact .line{
      height: 40%;
      bottom: 0;
      transform: translateY(-103px);
  }
  
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 12em 0 0.7em 0;
    z-index: 1;
    overflow: hidden;
    margin-top: 0;
  }
  .picside img{
    transform: translateX(-213px);
  }
  #hero .heroText{
    align-items: flex-start;
  }
  
  #hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 90%;
  }
  #hero p{
    font-size: 1.1em;
    padding-top: 0;
    
  }
  #hero .p1{
    font-family: 'cairo-b';
    font-size: 26px;
  }
  .picside{
    width: 50%; 
  }
  .picside img{
    top: 0;
    width: 120vw;
    transform: translate(-171px,-54px);
  }
  .Headerbuttom{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    align-items: center;
  }
  #hero .heroText{
    flex-direction: row;
  }
  .vision{
    position: relative;
    width: 50%;
    text-align: right;

  }
  .vision-content{
    padding-left: 0px;
  }
  .vision h3{
    font-size: 18px;
  }
  .allcontact .line{
    height: 70%;
    bottom: 0;
  }
  
}
@media only screen and (min-width: 1024px){
  .vision h3{
    font-size: 1.5em;
  }
  .picside img{
    width: 132vw;
    transform: translate(-231px,-186px);
  }
  
  
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
 
  #hero picture {
    display: none;
  }
  #hero p{
    font-size: 1.5em;
  }
  .serviceD p{
    font-size: 24px;
  }
  .vision{
    padding-left: 15px;
  }
  .picside img {
    width: 114vw;
    transform: translate(-313px,-198px);
    max-width: 100vw;
}
.allcontact .line{
  height: 80%;
}
}
@media only screen and (min-width: 1400px){
  
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #services{
  /* ff 3.6+ */
  background:-moz-linear-gradient(1deg, rgba(29, 18, 96, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(1deg, rgba(29, 18, 96, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(1deg, rgba(29, 18, 96, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D1260', endColorstr='#261F68', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(1deg, rgba(29, 18, 96, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(1deg, rgba(29, 18, 96, 1) 82%, rgba(10, 7, 30, 1) 100%, rgba(38, 31, 104, 1) 100%);
 display: flex;
 justify-content: center;
 align-items: center;

  }
  .top-services{
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 50px 0;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .serviceH{
    text-align: right;
    padding-right: 15px;
    position: relative;
    width: 100%;
  }
  .serviceH .line .small-line{
    height: 100px;
    top: 40px;
  }
  
  
  .serviceH h2{
    color: #fff;
    font-family: 'cairo-l';
    font-weight: 100;
    font-size: 2em;
    padding-bottom: 2em;
  }
  .serviceD{
    padding-right: 15px;
    text-align: right;
  }
  .serviceH p{
    color: #fff;
    font-weight: 900;
    font-family: 'cairo-b';
    padding-bottom: 1em;
    transform: translateY(-10px);
  }
  
  .serviceD p{
    color: #fff;
    max-width: 34.27777778em;
    font-family: 'cairo-r';
  }
  .card{
    display: flex;
    flex-direction: column-reverse;
    height: 60%;
    text-align: left;
    justify-content: center;
    gap: 60px;
    position: relative;
    padding-left: 15px;
  }
  .card .line{
    transform: translateY(-150px);
  }
  .cardT{
    text-align: right;
  }
  .cardT .card-header{
    color: #fff;
    font-family: 'cairo-l';
    font-size: 50px;
    text-align: right;
    padding-right: 15px;
  }
  .cardT span {
    color: #fff;
    font-family: 'cairo-b';
    padding-bottom: 30px;
  }
  .cardT p{
   color: #fff;
   font-size: 1.2em;

   font-weight: 100;
   font-family: 'cairo-l';
   padding-bottom: 30px;
   text-align: right;
   padding-right: 15px;
  }
  .cardT .button-solid{
    margin-top: 10px;
    margin-right: 15px;
  }
  .why-image{
    width: 87vw !important;
   }
 

}
/* Tablet */
@media only screen and (min-width: 48em) {
 .top-services{
  flex-direction: row-reverse;
 }
 .card{
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  align-items: center;
  padding: 40px;
 }
 .cardT{
  text-align: right;
 }
 
 .cardP{
  width: 70%;
 }
 .cardP img{
  height: 100%;
  width: 100%;
  max-height: 700px;
 }
 .card{
  gap: 10px;
 }
 .serviceD p{
  font-size: 1.1em;
 }
 .serviceH{
  width: 50%;
 }
 .top-services{
  align-items: center;
 }
 .why-image{
  height: 100%;
  max-width: 700px;
 }
}
/* Small Desktop */
@media only screen and (min-width: 1024px) {
  .serviceH{
    width: 50%;
   }
   .serviceH p{
    font-size: 1.5em;
    line-height: 2;
  }
   .card{
    flex-direction: row-reverse;
    height: 80vh;
   }
   .cardT{
    width: 50%;
  }
}

@media only screen and (min-width: 1300px){
  .serviceD p{
    font-size: 1.5em;
  }

} 

